@page "/trackdetailsdb/{id:int}"
<h3>TrackDetails</h3>


 <div class="form-group row">
     <label class="col-form-label">Track Id </label>
     <input class="form-control" disabled value="@CurrentTrack.TrackId" />
 </div>
<div class="form-group row">
    <label class="col-form-label">Name </label>
    <input class="form-control" disabled value="@CurrentTrack.Name" />
</div>
<div class="form-group row">
    <label class="col-form-label">Description </label>
    <input class="form-control" disabled value="@CurrentTrack.Description" />
</div>

<a class="btn btn-primary my-4" href="trackindex"> back to list</a>
<a class="btn btn-success my-4" href="@($"trackedit/{id}")"> Edit</a>



@code {
    [Parameter]
    public int id { get; set; }

    public Track? CurrentTrack { get; set; }

    protected override Task OnInitializedAsync()
    {

        CurrentTrack = StaticLists.TrackList.FirstOrDefault(t => t.TrackId == id);

        return base.OnInitializedAsync();
    }
}
