@page "/traineedeletedb/{id:int}"
@inject NavigationManager _NavigationManager
<h3>TraineeDelete</h3>

@code {

    [Parameter]
    public int id { get; set; }
    [Inject]
    public ITraineeService traineeService { get; set; }
    public bool Deleted { get; set; } = false;
    public async void DeleteTrack()
    {
        await traineeService.DeleteTrainee(id);

        /*rainee currentTrainee = await traineeService.GetTraineeDetails(id);*/
       
    }
}

<h1 class="text-danger"> Are you sure you want to delete this trainee @id !!!</h1>

<button class="btn btn-danger my-3" @onclick="DeleteTrack"> Confirm Delete</button>
<NavLink class="btn btn-success my-3" href="traineeindexdb">
    Back to list
</NavLink>