@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My MVC Application</h1> <br /><br /><br /><br />
    <div style="background-color:white ;  padding:20px" >
    <p class="lead">Please fill out this form</p>

    <form action="/Home/viewDetails" method="post">
        <label>ID:  </label><span>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input type="text" name="id" /> <br /><br />
        <label>Name:  </label><span>&nbsp; &nbsp;&nbsp;</span>
        <input type="text" name="name"/> <br /><br />
        <label>Image:  </label> <span>&nbsp; &nbsp;&nbsp;</span>
        <select name="source">
            <option value="1.jpg">1</option>
            <option value="2.jpg">2</option>
            <option value="3.jpg">3</option>
            <option value="4.jpg">4</option>
            <option value="5.jpg">5</option>
            <option value="6.jpg">6</option>
            <option value="7.jpg">7</option>
           
        </select><br /><br />
        <input type="submit"/>
    </form>


        </div>
</div>


    