
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Ftm designs</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="author" content="fatma.hassan@gmail.com" />
    <meta name="description" content="FTM" />


    <link rel="stylesheet" href="touching.css" type="text/css" />
</head>
<body>
    <!-- Generated at www.csscreator.com -->
    <div id="container">
        <div id="banner">
            <div id='bannertitle'>Touching</div>
        </div>

        <div id="outer">
            <div id="inner">
                <div id="left">
                    <div class="verticalmenu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></li>
                            <li><a href="http://validator.w3.org/check?uri=referer">XHTML</a></li>
                        </ul>
                    </div>

                </div>
                <div id="content">
                    <h2>Lorem ipsum</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur elit nibh, venenatis a, ornare id, elementum et, sem. Aliquam adipiscing faucibus risus. Nulla at libero. Vivamus vitae lorem id sem pellentesque euismod. Quisque libero. Etiam fermentum mattis eros. Donec faucibus elit sed enim. Fusce pulvinar tincidunt erat. Phasellus elit. In luctus. Aliquam erat volutpat. Nullam imperdiet tellus vitae magna. Proin ut purus. Cras condimentum sagittis eros. Morbi laoreet nunc eget erat. Duis varius.
                    </p>

                @RenderBody()  
                    <p>
                        Phasellus eget nibh vestibulum felis tempor tincidunt. Fusce sollicitudin tincidunt quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Mauris lectus libero, lacinia ut, tempor quis, rutrum in, arcu. Nullam fermentum imperdiet quam. Pellentesque ut urna. Nulla facilisi. In luctus felis sed nunc. Integer id diam quis erat hendrerit pulvinar. Suspendisse a dui. Sed eget lorem pharetra enim dignissim facilisis. Vestibulum eu nunc eu quam tincidunt convallis. Proin non ante.
                    </p><p>
                        In gravida est eget tellus. Proin auctor. Curabitur gravida ligula ut justo. Duis a lectus. Mauris aliquet lacus a diam interdum semper. Donec tristique imperdiet diam. Donec malesuada lobortis eros. Morbi nec felis non elit tristique ultrices. Cras tempus, dui non mollis porttitor, urna lacus laoreet felis, ac convallis enim purus sed nulla. In sagittis mi quis dolor. Integer quis neque. Mauris et magna. Mauris id ante. Vestibulum luctus lacus.
                    </p>
                    <p>
                        Sed rutrum massa quis felis. Pellentesque laoreet, sapien nec rutrum vulputate, justo tortor ullamcorper dolor, auctor pretium magna purus in orci. Nam sit amet leo. Proin nec dui. Nunc libero enim, tincidunt vitae, elementum eu, fermentum et, leo. Maecenas pede tellus, sollicitudin vulputate, consectetuer a, iaculis id, velit. Curabitur blandit pulvinar libero. Quisque dolor. Ut nonummy leo non nulla. Maecenas quis enim. Nunc eget pede. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas vitae ligula quis elit eleifend fermentum. Morbi tempus magna nec lectus. Vestibulum elementum. Nulla malesuada, sapien non ornare gravida, pede quam interdum ipsum, ut nonummy enim turpis vitae neque. Etiam consequat mollis sapien. Nunc congue. Fusce leo nibh, tempus et, pulvinar in, sollicitudin in, felis. Sed eget est.
                    </p>
                    <p>
                        Nulla purus eros, nonummy vel, tincidunt nec, ullamcorper malesuada, quam. Phasellus sem. In non nisi eget justo hendrerit dictum. Suspendisse pharetra leo in lectus. Duis ultricies. In fringilla justo at pede. Ut pretium nunc vel massa. Fusce arcu erat, ultrices ac, fringilla eu, iaculis eu, turpis. Duis tempus, augue et tempor bibendum, est risus dapibus risus, sed sagittis nisl erat nec nisl. Nulla venenatis placerat odio. Suspendisse sed neque. Duis risus. Etiam quis est vel neque lacinia porttitor. Integer ipsum. Mauris tristique scelerisque tortor. Aliquam erat volutpat. Vestibulum et ipsum. Aenean eleifend pulvinar lectus. Phasellus nec augue.
                    </p>
                    <p>
                        Nulla purus eros, nonummy vel, tincidunt nec, ullamcorper malesuada, quam. Phasellus sem. In non nisi eget justo hendrerit dictum. Suspendisse pharetra leo in lectus. Duis ultricies. In fringilla justo at pede. Ut pretium nunc vel massa. Fusce arcu erat, ultrices ac, fringilla eu, iaculis eu, turpis. Duis tempus, augue et tempor bibendum, est risus dapibus risus, sed sagittis nisl erat nec nisl. Nulla venenatis placerat odio. Suspendisse sed neque. Duis risus. Etiam quis est vel neque lacinia porttitor. Integer ipsum. Mauris tristique scelerisque tortor. Aliquam erat volutpat. Vestibulum et ipsum. Aenean eleifend pulvinar lectus. Phasellus nec augue.
                    </p>
                    <p>
                        Nulla purus eros, nonummy vel, tincidunt nec, ullamcorper malesuada, quam. Phasellus sem. In non nisi eget justo hendrerit dictum. Suspendisse pharetra leo in lectus. Duis ultricies. In fringilla justo at pede. Ut pretium nunc vel massa. Fusce arcu erat, ultrices ac, fringilla eu, iaculis eu, turpis. Duis tempus, augue et tempor bibendum, est risus dapibus risus, sed sagittis nisl erat nec nisl. Nulla venenatis placerat odio. Suspendisse sed neque. Duis risus. Etiam quis est vel neque lacinia porttitor. Integer ipsum. Mauris tristique scelerisque tortor. Aliquam erat volutpat. Vestibulum et ipsum. Aenean eleifend pulvinar lectus. Phasellus nec augue.
                    </p>
                    <p>
                        Nulla purus eros, nonummy vel, tincidunt nec, ullamcorper malesuada, quam. Phasellus sem. In non nisi eget justo hendrerit dictum. Suspendisse pharetra leo in lectus. Duis ultricies. In fringilla justo at pede. Ut pretium nunc vel massa. Fusce arcu erat, ultrices ac, fringilla eu, iaculis eu, turpis. Duis tempus, augue et tempor bibendum, est risus dapibus risus, sed sagittis nisl erat nec nisl. Nulla venenatis placerat odio. Suspendisse sed neque. Duis risus. Etiam quis est vel neque lacinia porttitor. Integer ipsum. Mauris tristique scelerisque tortor. Aliquam erat volutpat. Vestibulum et ipsum. Aenean eleifend pulvinar lectus. Phasellus nec augue.
                    </p>


                </div><!-- end content -->
            </div><!-- end inner -->
        </div><!-- end outer -->
        <div id="footer"><h1><a href="http://freethoughts.ftmblog.com">copyrights&copy;FTM</a></h1></div>
    </div><!-- end container -->
</body>
</html>
