@code {


}

<h1 class="text-danger"> Hello From My Component</h1>

@*<CardComponent ImageUrl="https://example.com/image.jpg"
               ImageAltText="Example image"
               Header="Example header"
               Body="Example body">
    <p>Example footer</p>
</CardComponent>*@
