@page "/traineedelete/{id:int}"
@inject NavigationManager _NavigationManager
<h3>TraineeDelete</h3>

@code {

    [Parameter]
    public int id { get; set; }

    public bool Deleted { get; set; } = false;
    public void DeleteTrack()
    {

        var currentTrainee = StaticLists.TraineeList.FirstOrDefault(t => t.TraineeId == id);
        Deleted = StaticLists.TraineeList.Remove(currentTrainee);
        if (Deleted)
            _NavigationManager.NavigateTo("/traineeindex");
    }
}

<h1 class="text-danger"> Are you sure you want to delete this trainee @id !!!</h1>

<button class="btn btn-danger my-3" @onclick="DeleteTrack"> Confirm Delete</button>
<NavLink class="btn btn-success my-3" href="traineeindex">
    Back to list
</NavLink>