@model ITIDbEFCorePowerTool.Models.Department

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dept_Id" />
            <div class="form-group">
                <label asp-for="Dept_Name" class="control-label"></label>
                <input asp-for="Dept_Name" class="form-control" />
                <span asp-validation-for="Dept_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dept_Desc" class="control-label"></label>
                <input asp-for="Dept_Desc" class="form-control" />
                <span asp-validation-for="Dept_Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dept_Location" class="control-label"></label>
                <input asp-for="Dept_Location" class="form-control" />
                <span asp-validation-for="Dept_Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dept_Manager" class="control-label"></label>
                <select asp-for="Dept_Manager" class="form-control" asp-items="ViewBag.Dept_Manager"></select>
                <span asp-validation-for="Dept_Manager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manager_hiredate" class="control-label"></label>
                <input asp-for="Manager_hiredate" class="form-control" />
                <span asp-validation-for="Manager_hiredate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
